@page
@model Q2.Pages.authorsModel
@{
}

<div class="row">
    <div class="col">
        @if (Model.authorDtos.Count > 0)
        {
        <table class="table">
            <thead>
                <tr>
                    <td>AuthourId</td>
                    <td>Name</td>
                    <td>Book</td>
                </tr>
            </thead>
            <tbody>
                    @foreach (var o in Model.authorDtos)
                {
                    <tr>
                        <td>@o.authorId</td>
                        <td>@o.name</td>
                            <td>@foreach(var b in o.books){ @b.title }</td>
                        </tr>
                }
            </tbody>
        </table>
        }
    </div>

</div>


