@page
@model Q2.Pages.booksModel
@{
}
<form method="get">
    <input type="text" name="Id" placeholder="Id"></input>
    <input type="submit" value="search"></input>
</form>
<a href="~/CreateBook">Create new Book</a>
<div class="row">
    <div class="col">
        @if (Model.booksDto.Count > 0)
        {
        <table class="table">
            <thead>
                <tr>
                    <td>BookId</td>
                    <td>Title</td>
                    <td>Author</td>
                </tr>
            </thead>
            <tbody>
                    @foreach (var o in Model.booksDto)
                {
                    <tr>
                        <td>@o.BookId</td>
                        <td>@o.Title</td>
                        <td>@o.AuthorName</td>
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>

</div>

